.header {
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 5px 15px;

  background: #faf8f7;

  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
}

.header_logo_wrapper {
  height: 100%;
  width: 100%;

  position: relative;
}

.header_logo {
  object-fit: contain;
}

.user_info {
  position: relative;
  width: fit-content;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_info:hover {
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  size: 40px;
  font-size: 40px;
}

.user_name {
  font-size: 14px;
  white-space: nowrap;
}

.menu_button {
  background: white;
  color: black;
  border: 2px solid #2d2d2d;

  padding: 5px;
}

.menu_button:hover {
  background: #e0e0e0;
}

.dropdown_background {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}

.dropdown_background_show {
  display: block;
}

.dropdown_background_hide {
  display: none;
}

.user_dropdown {
  position: absolute;
  right: 0;
  top: 60px;

  padding: 10px;
  width: 120px;

  background: white;
  border: 1px solid black;
  border-radius: 5px;

  z-index: 2;
}

.user_dropdown:hover {
  background: #faf8f7;
  cursor: pointer;
}

.user_dropdown_hide {
  display: none;
}

.user_dropdown_show {
  display: block;
}
