.select_wrapper {
  position: relative;

  width: fit-content;
  height: fit-content;
}

.select {
  appearance: none;

  padding: 10px;

  width: 350px;
  height: 50px;

  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 15px;

  font-size: 18px;
}

.select:focus {
  border: 1px solid dodgerblue;
}

.select_icon {
  position: absolute;
  right: 0;

  height: 30px;
  margin: auto 20px;
  top: 50%;
  transform: translateY(-50%);
}
