.newModalContainer {
  width: 630px;
  height: 650px;
  background-color: white;
  padding: 25px;
  border-radius: 5px;
}

.newContainer {
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
