.popup {
  position: fixed;
  width: 200px;

  top: 10px;
  transition: left 0.5s ease-in-out;

  background-color: white;
  border: 1px black solid;
  border-radius: 5px;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  padding: 20px;
}

.popup_show {
  left: calc(100% - 210px);
}

.popup_hide {
  left: 101%;
}

.popup_warning {
  background-color: crimson;
  color: whitesmoke;
}
