.container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  align-items: flex-start;
  padding: 10px 0px 10px 20px;
  gap: 20px;
  margin-bottom: 20px;
}

.containerInputData {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  align-items: flex-start;
  padding: 10px 0px 10px 20px;
  gap: 20px;
}

.container2 {
  position: absolute;
  bottom: 10px;
  height: 220px;
  width: 100%;
}

.scroll {
  height: 350px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.label {
  font-size: 24px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.row_center {
  justify-content: center;
}
.row_input {
  justify-content: space-between;
}

.containerButton {
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px 30px 0px 0px;
  gap: 10px;
}

.InputBox {
  background: #ffffff;
  padding: 5px;
  border: none;
  flex-grow: 2;
}

.paddingButton {
  margin: 10px;
}

.tdItem {
  text-align: center;
}
