.header {
  position: sticky;
  top: 0;
}

.receipt_table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: scroll;
}

.receipt_table_row {
  text-align: center;
}

.receipt_table_item_row:hover {
  cursor: pointer;
  background: #faf8f7;
}

.receipt_table_row > th {
  background: #faf8f7;
}

.receipt_table_row > td,
.receipt_table_row > th {
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
}

.receipt_table_row > td:first-child,
.receipt_table_row > th:first-child {
  text-align: left;
}

.bottomRow {
  display: flex;
  justify-content: center;
  margin: 10px;
}
